@font-face {
    font-family: 'Merriweather';
    src: url(fonts/Merriweather-Bold.ttf);
}
@font-face {
    font-family: 'WorkSans';
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}
img{
    max-width: 100%;
    max-height: 100%;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
}
.picture { 
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .title{
    text-align: center;
    font-family:'Merriweather', sans-serif;
    font-size: 50px;
  }
h1 {
    text-align: center;
    font-family:'Merriweather', sans-serif;}
h2 {
    text-align: center;
    font-family:'Merriweather', sans-serif;}

h3{text-align: center;
        font-family:'Merriweather', sans-serif;}

p{ margin: auto;
    width: 640px; 
    padding: 20px;   
    max-width: 35%;
    font-family:'WorkSans', sans-serif;}

ul{
    margin: auto;
    width: 640px; 
    padding: 20px;   
    max-width: 35%;
    font-family:'WorkSans', sans-serif;}
    body{background-color: #FCA652;}

    .top{
        position: absolute;
        left:26.3%;
        top: 5%;
        transform: translate(-50%-50%);
        width: 903px;
        height: 3546.2px;
        background: #F6F1F1;
        z-index:-2;
        }

    .rectangle{
position: absolute;
left:37%;
top: 15%;
transform: translate(-50%-50%);
width: 500px;
height:80px;
background: #FFD57E;
z-index:-1;
}
.rectangle2{
    position: absolute;
    left:37%;
    top: 83.5%;
    transform: translate(-50%-50%);
    width: 500px;
    height:80px;
    background: #FFD57E;
    z-index:-1;
    }

            
                    
                